# Welcome to the Python Course.


This is an introduction to Python, with a focus on data analysis. We start with the obligatory "Hello World in Python", look at a short snippet of code to import and view a dataset to whet our appetite then we go through the basics; data types, data structures, functions, methods and the numpy and pandas packages.

We are going to learn Python like this:
* read a chunk of code of code, and guess / explain what it will do
* run a chunk of  code and explain what it did
* change then run a chunk of code and explain what is different
* write a chunk of code of code from scratch
* do some exercises and the end of each section

Our Hello World in Python

In [1]:
print("monty", "python")

monty python

Let's use Python as a calculator

In [2]:
7 * 7 # returns 49

49

We often use the inbuilt print() function, to inspect what is happening.  print() does an action (side-effect) to write a value to the console. Actions include reading / writing a file.

In [3]:
print("select me!")
print("and me!")
print("and me too!")

select me!
and me!
and me too!

# Python Syntax

Comments start with a #

In [4]:
# A hash (#) is a comment - the rest of the line is ignored

In [5]:
# The end of a line terminates a statement
print("hello")
print("goodbye")

hello
goodbye

In [6]:
# When you execute several statements in a chunk the result of the last line is returned
2 + 3
4 + 5

9

Use Parentheses or \ to put a statement on two or more lines

In [7]:
(1 + 2 
+ 3)

6

In [8]:
('supercali'
'fragilistic'
'expialidocious')

'supercalifragilisticexpialidocious'

In [9]:
1 + 2 + 3 + \
    4 + 5

15

**Whitespace matters!**  This is different to  most other languages.  The benefit is readability and consistency.

Before a code block, use a colon:
Code blacks are indented, usually by 4 spaces.  Be consistent.

In [10]:
for i in range(5):
    print(i)

0
1
2
3
4

What is the difference between the next two code sections?

In [11]:
print("First block")
for i in range(4):
    print(i)
print(i*2)

print("Second block")
for i in range(4):
    print(i)
    print(i*2)

First block
0
1
2
3
6
Second block
0
0
1
2
2
4
3
6

# Datatypes

An int (integer) datatype is a whole number

In [12]:
answer = 33
type(answer)

int

A float is a number with  a fractional part

In [13]:
e = 2.718
type(e)

float

Define a string in either single or double quotes

In [14]:
todays_date = '2020-01-05' # This is not a date.  Later we'll look at the datetime module!
type(todays_date)

str

A bool is either True or False

In [15]:
# a bool is either True or False
today_is_monday = True
type(today_is_monday)

bool

The behaviour of operatiors depends on the datatypes

In [16]:
2 + 3 # adding numbers, what you expect

5

In [17]:
'2' + '3' # adding strings concatenates them

'23'

In [18]:
'hello ' * 3 # multiplying strings repeats them

'hello hello hello '

**Variables** store values and objects for later use.  Assigning a variable returns None so we often will write two lines like below

1. the first line sets the value of the variable
2. the second line is just the variable name so we can see the result

In [19]:
var1 = (5 * 7)**2 
var1

1225

# Strings

A string is an ordered collection of characters (an array).  Characters are arrays of length 1.

In [23]:
title = 'Python Course'
len(title)

13

In [21]:
title= 'monty python'
len(title) # len() is a function
# capitalize(title) #Oops
title.capitalize()

'Monty python'

## Strings have many methods

In [24]:
my_string = "'Talk to me': A train driver asking men to open up"
my_string.upper()

"'TALK TO ME': A TRAIN DRIVER ASKING MEN TO OPEN UP"

In [26]:
my_string.replace('to', 'with')

"'Talk with me': A train driver asking men with open up"

In [27]:
my_string.split()

["'Talk",
 'to',
 "me':",
 'A',
 'train',
 'driver',
 'asking',
 'men',
 'to',
 'open',
 'up']

The format method is useful for displaying results

In [28]:
business_type = 'shop'
years_in_business = 50
'Sailing goods business closes {} after {} years'.format(business_type, years_in_business)

'Sailing goods business closes shop after 50 years'

f strings do this more concisely

In [29]:
business_type = 'shop'
years_in_business = 50
f'Sailing goods business closes { business_type} after {years_in_business} years'

'Sailing goods business closes shop after 50 years'

To find in a string is within another, use the membership operator, in

In [30]:
alphabet = 'Google etc'
'e etc' in alphabet
#'Bing' in alphabet

True

String methods always return the changed value.  They do not change the original string

In [31]:
whisper = "Hello"
shout = whisper.upper()
whisper + ' | ' + shout

'Hello | HELLO'

## Indexing - get a single element using the position.  

Indexing is useful for many data types and not just strings.
Python counts from 0!

In [32]:
len(title)
title[0]
title[10]
#title[19]

'r'

## Slicing - get a sublist using the start and end positions.  

Note: Slicing returns the sublist from the element at the start position up to but *not* including the element at the end position.

We don't have to start the slice at the beginning of the string.  We can slice with negative integers.  We can omit the end position to go to the end of the string.  We can also omit the start position.

In [33]:
title[10:15] # returns the 11th to the 15th element (5 charcters in total)

'rse'

In [34]:
title[-5:-1] # returns the last 5 characters apart from the final one

'ours'

 Omit the end position to go to the end of the string.  Omit the start position to go from the start of the string.

In [35]:
title[-5:] # returns the last 5 characters
title[8:] # returns all characters from the 9th to the end of the string 
title[:4] # returns the first four characters

'Pyth'

# Methods


Python is an object oriented language and everything is an object (even integers) and has properties and methods. Properties and methods are accessed with the dot (.) notation. Methods are functions relevant to objects of a particular data type or class. We will look at some methods of strings and lists - they have lots of useful methods. 

Invoke a method with the dot notation on a string. Instead of capitalize(title), use title.capitalize()

In [36]:
# Even ints and floats are objects - and have methods!
average_goals_per_match  = 2.123
average_goals_per_match.is_integer()

False

In [37]:
# Lists also have methods.
# Some of these have the same name as string methods and have similar (but not the same) behaviour.
squares = [1,4,9,16]
squares.index(9)

2

# Compound data structures:  list, tuple and dict

## Lists
A list is an mutable ordered collection of elements. The elements can be of different data types. Create a list with [].

In [38]:
football_teams = ['Chelsea', 'Liverpoool', 'Arsenal']
football_teams

['Chelsea', 'Liverpoool', 'Arsenal']

In [39]:
points = [17, 19, 15]
points

[17, 19, 15]

This list contains a string, int, bool and another list`

In [40]:
a_diverse_list = ['Chelsea', 15, True, points]
a_diverse_list

['Chelsea', 15, True, [17, 19, 15]]

In [41]:
# We can find the number of elements in a list with len() function
len(football_teams)

3

In [42]:
# Use an index to get element of the list by providing its position
football_teams[0]

'Chelsea'

Lists are mutable - they can be "edited".  We can change an item in the list or append to the list. For example, let's append and insert  element to a list.  This is the first time that we have seen a method.

In [43]:
football_teams.append('Fulham')
football_teams

['Chelsea', 'Liverpoool', 'Arsenal', 'Fulham']

In [44]:
football_teams.sort() # note that this is an in-place operation, the original string is replaced.
football_teams

['Arsenal', 'Chelsea', 'Fulham', 'Liverpoool']

In [45]:
football_teams.insert(0, 'Crystal Palace')
football_teams

['Crystal Palace', 'Arsenal', 'Chelsea', 'Fulham', 'Liverpoool']

Aside (since we have not yet looked at loops). We can iterate through the elements of a list or tuple. Notice the : and the indentation. This "format as function" sets Python apart from other languages.

In [46]:
for p in points:
  print(p**2)

289
361
225

_Advanced optional section:_ To copy a list we simply can't assign a new variable.  This will point to the same list.  Instead use copy() method or list() constructor.

In [47]:
test1 = ["Frank", "Lampard"]
test2 = test1
test1.append("Thomas")
test1.append("Tuchel")
test2

['Frank', 'Lampard', 'Thomas', 'Tuchel']

In [48]:
test1 = ["Frank", "Lampard"]
test2 = test1.copy()
test1.append("Thomas")
test1.append("Tuchel")
test2

['Frank', 'Lampard']

This elegant expression is a list comprehension.

In [49]:
#  Question: does it need to be p?
[p + 10 for p in points]

[27, 29, 25]

In [50]:
# What happens if not all the elements are numbers?
strange_points = [17,'eighteen', 19, 15, 'twenty', True]
[p + 10 for p in strange_points if type(p) == int]   
# [p + 10 for p in strange_points]

[27, 29, 25]

## Tuples
A tuple is an **immutable** ordered set of elements. Create a tuple with () - called parentheses or round brackets.

In [51]:
my_tuple = ('alpha', 'beta', True, 42)
my_tuple

('alpha', 'beta', True, 42)

We can assign variables to each element in a tuple as follows

In [52]:
a, b, c, d = my_tuple
d, a, b, c

(42, 'alpha', 'beta', True)

## Dictionaries
A dict is an ordered collection of key / value pairs.  
Create a dict with this syntax {key1: value1, key2: value2}

In [53]:
football_ages = {'Kane' : 24, 'Pickford' : 22, 'Dele' : 20}
football_ages

{'Kane': 24, 'Pickford': 22, 'Dele': 20}

We can get the value of a pair by providing the key

In [54]:
football_ages['Dele']

20

We can loop through all the keys and values of a dict

In [55]:
football_ages.keys()
football_ages.values()

dict_values([24, 22, 20])

The key can be any data type as can the value

In [56]:
dinner = {
        'starter' : 'salad',
        'main course' : ['meat' , 
                         'potatoes', {
                                 'veg1': 'peas', 
                                 'veg2' : 'beans'}],
        'is_desert_included': True
        }
dinner

{'starter': 'salad',
 'main course': ['meat', 'potatoes', {'veg1': 'peas', 'veg2': 'beans'}],
 'is_desert_included': True}

## Sets are unordered and unindexed (and not often used).  Create with {}

In [57]:
my_primes = {2, 3, 5, 7, 11}
#my_primes = {13, 2, 3, 3, 5, 7, 11}
my_primes
#my_primes[0]

{2, 3, 5, 7, 11}

# Control flow

Conditional statements with if - elif - else

In [58]:
goals = 1

if goals < 3:
    print("not enough")
    print("try harder")
elif goals < 5:
    print("more needed")
else:
    print("hurrah")

not enough
try harder

Loop with for

In [59]:
for fruit in ('apple', 'pear', 'banana'):
    print(fruit +'s are great.')

apples are great.
pears are great.
bananas are great.

Loop also with while and provide a stop condition

In [60]:
i = 10
while i > 7:
    print(i)
    print("Going down")
    i = i - 1

10
Going down
9
Going down
8
Going down